// Подключение шрифтов

$playfair: 'playfair_displaybold', 'Century Gothic', sans-serif;

@font-face {
  font-family: 'playfair_displaybold';
  src: url('playfairdisplay-bold-webfont.woff2') format('woff2'),
  url('playfairdisplay-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
//
//@font-face {
//  font-family: 'GraphikLCG';
//  src:
//    local('GraphikLCG-Medium'),
//    url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
//    url('../fonts/GraphikLCG-Medium.woff') format('woff');
//  font-weight: 500;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'GraphikLCG';
//  src:
//    local('GraphikLCG-Semibold'),
//    url('../fonts/GraphikLCG-Semibold.woff2') format('woff2'),
//    url('../fonts/GraphikLCG-Semibold.woff') format('woff');
//  font-weight: 600;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'GraphikLCG';
//  src:
//    local('GraphikLCG-Bold'),
//    url('../fonts/GraphikLCG-Bold.woff2') format('woff2'),
//    url('../fonts/GraphikLCG-Bold.woff') format('woff');
//  font-weight: 700;
//  font-style: normal;
//}
