// глобальные стандартные цвета
$white: #ffffff;
$black: #000000;

// ПРОЕКТНЫЕ ЦВЕТА

// основной темный серо-синий
$denim: #182c3d;

// ПРОЕКТНЫЕ ШИРИНЫ
// минимальная мобильная ширина
$width-mobile-small: 320px;
// макетная мобильная ширина
$width-mobile: 375px;
// дополнительная мобильная ширина
$width-mobile-wide: 560px;
// минимальная планшетная ширина
$width-tablet-start: 768px;
//макетная планшетная ширина
$width-tablet-layout: 1024px;
// минимальная десктопная ширина
$width-desktop-start: 1296px;
// макетная десктопная ширина
$width-desktop-hd: 1920px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
